extends layout

block head
  title Stuart P. Bentley: profiles
  link(rel="icon", href="stuhat.svg", size="any", type="image/svg+xml")
  link(rel="icon", href="stuhat256b.png", sizes="256x256", type="image/png")
  link(rel="icon", href="stuhat16b.png", sizes="16x16", type="image/png")
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800',
    rel='stylesheet', type='text/css')
  link(href='/styles/profiles.css', rel='stylesheet', type='text/css')

block body
  table
    thead: tr
      th On...
      th I am...
      th Link
    tbody: for profile in profiles
      tr
        td= profile.site
        td= profile.name
        td: a(href=profile.url)
          img(src="http://g.etfv.co/" + encodeURIComponent(profile.url) + "?defaulticon=lightpng",
            height='16', width='16')
          = profile.url
