extends layout

block title
  title Stuart P. Bentley: profiles

block subtitle
  h2 profiles

block head
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,800',
    rel='stylesheet', type='text/css')
  link(href='/styles/profiles.css', rel='stylesheet', type='text/css')

block main
  table
    thead: tr
      th On...
      th I am...
      th Link
    tbody: for profile in profiles
      tr
        td= profile.site
        td= profile.name
        td: a(href=profile.url)
          img(src="http://g.etfv.co/" + encodeURIComponent(profile.url) + "?defaulticon=lightpng",
            height='16', width='16')
          = profile.url
