extends layout

mixin microdate(datestr)
  - var timestamp = isodate(datestr);
  if timestamp
    abbr(title=timestamp)&attributes(attributes)= datestr
  else
    span&attributes(attributes)= datestr

block title
  title Stuart P. Bentley: résumé

block subtitle
  h2 résumé

block head
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700',
    rel='stylesheet', type='text/css')
  link(href='/styles/resume.css', rel='stylesheet', type='text/css')
  link(rel="profile", href="http://microformats.org/profile/hcard")

block main
  article
    section.vcalendar#experience
      h2 Experience
      for job in experience
        div.experience.vevent
          h3
            span.vcard
              a.include(href='#spb-name')
              if job.title
                span.title= job.title
                if job.organization
                  =', '
                  a.url.org(href=links[job.organization])= job.organization
              else
                if job.organization
                  a.url.org(href=links[job.organization])= job.organization
                  if job.summary
                    =', '
                    span.summary= job.summary
            =', '
            +microdate(job.timespan.from).dtstart
            =' - '
            +microdate(job.timespan.to).dtend
        != marked(job.tasks)
    section#portfolio
      h2 Portfolio
      != marked(portfolio)
    section#skills
      h2 Skills
      ul.skills: for skill, i in skills
        li: a.skill(href=links[skill], ref='tag')= skill
    section#education
      h2 Education
      ul.vcalendar: for edu in education
        li.education.vevent
          span.summary.vcard
            = edu.accolade + ', '
            a.url.fn.org(href=links[edu.institution])= edu.institution
          =' '
          +microdate(edu.timespan.from).dtstart
          =' - '
          +microdate(edu.timespan.to).dtend
  footer
    .about
      div.
        Version <span id="version">#{version}<span>, rendered
        <span id="build-date">#{today}</span>.
        The latest version of this resume is kept at
        <a href="#{online.html}">#{online.html}</a>.
      div.
        Plain text / Markdown version: <a href="#{online.markdown}">#{online.markdown}</a> |
        YAML source: <a href="#{online.yaml}">#{online.yaml}</a>
      div.
        The Node.js code that creates this resume, from YAML, through Pug, to HTML, is online at
        <a href="#{online.code}">#{online.code}</a>
    address.adr.vcard
      a.include(href='#spb-name')
      div
        span.street-address= contact.address.street + (contact.address.ext? ', ' + contact.address.ext : '')
      div
        span.locality= contact.address.city
        =', '
        abbr.region(title=contact.address.state.name)= contact.address.state.abbr
        =' '
        span.postal-code= contact.address.zip
      div
        ='Email: '
        a.email(href="mailto:"+contact.email)= contact.email
      div
        ='Phone: '
        a.tel(href="tel:"+contact.phone)= contact.phone
