!!! html
- var marked = require("marked")
- var xdate = require("xdate")
html
  head
    meta(charset="utf-8")
    title Stuart P. Bentley: résumé
    link(rel="icon", href="stuhat.svg", size="any", type="image/svg+xml")
    link(rel="icon", href="stuhat256b.png", sizes="256x256", type="image/png")
    link(rel="icon", href="stuhat16b.png", sizes="16x16", type="image/png")
    style
      body {
        margin: 0; padding: 21px 32px;
        background-color: #771818;
        background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="70" height="120"><path d="M 35,0 70,60 35,120 0,60 z" style="fill:#000000;fill-opacity:0.1;stroke:none" /><path d="M 0,0 70,120" style="fill:none;stroke:#ffffff;stroke-width:1.5;stroke-opacity:0.1" /><path d="M 70,0 0,120" style="fill:none;stroke:#ffffff;stroke-width:1.5;stroke-opacity:0.1" /></svg>');
        background-size: 70px 120px;
        background-position: 35px 60px;
        font-family: sans-serif;
      }

      header {
        margin: 0 0 21px 0; padding: 0;
        position: relative;
      }

      header address {
        margin: 0; padding: 8px 16px;
        font-style: normal;
        position: absolute;
        top: -8px;
        right: 0;
        background-color: rgba(255,255,255,.5);
        border-radius: 6px;
      }

      abbr {
        text-decoration: none;
        border: none;
      }

      h1 {
        margin: 0; padding: 0 0 0 100px;
        font: bolder 78px sans-serif;
        text-transform: uppercase;
        color: white;
        line-height: 100%;
        background: left no-repeat url("stuhat.svg");
        background-size: 78px;
      }

      main {
        margin: 16px 0; padding: 16px;
        background-color: white;
        border-radius: 12px;
        clear: both;
      }

      h2, h3, h4, h5, h6 {
        margin: 0 0 1rem 0; padding: 0;
      }

      ul {
       margin: 1rem 0; padding: 0 0 0 40px;
      }

      ul ul {
        margin: 0;
      }

      footer {
        margin: 16px 0; padding: 8px 16px;
        background-color: rgba(255,255,255,.5);
        border-radius: 6px;
      }
  body
    header.vcard
      h1.fn
        span.given-name= contact.name.first
        =' '
        abbr.additional-name= contact.name.mi
        =' '
        span.family-name= contact.name.last
      address.adr
        span.street-address= contact.address.street + (contact.address.ext? ', ' + contact.address.ext : '')
        br
        span.locality= contact.address.city
        =', '
        abbr.region(title=contact.address.state.name)= contact.address.state.abbr
        =' '
        span.postal-code= contact.address.zip
        br
        ='Email: '
        a.email(href="mailto:"+contact.email)= contact.email
        br
        ='Phone: '
        a.tel(href="tel:"+contact.phone)= contact.phone
    main
      section#tech-experience
        h2 Tech Experience
        ul: for techset in techs
          for items, category in techset
            li= category + ": "
              if typeof(items) == "string"
                != marked(items)
              else
                for item, i in items
                  span.skill= item
                  = i < items.length-1 ? ", " : ""
      section#work-experience
        h2 Work Experience
        - function timespan(times) { return times.from + ' - ' + times.to }
        for job in work
          h3= job.position + ', ' + job.organization + ', ' + timespan(job.timespan)
          != marked(job.tasks)
      section#portfolio
        h2 Portfolio
        != marked(portfolio)
      section#education
        h2 Education
        ul: for edu in education
          li= edu.accolade + ', ' + edu.institution
    footer.
      Version <span id="version">#{version}<span>,
      <span id="build-date">#{xdate().toString('MMM d yyyy')}</span>.
      The latest version of this resume is kept at
      <a href="http://stuartpb.com/resume">http://stuartpb.com/resume</a>.
